@charset "utf-8";
/* CSS Document */
.down{ background:url(../images/down.png) no-repeat center center; width:18px; height:20px;}
#gbox_jqGrid{ display:none;}
.box-z{ margin-bottom:10px;}
.box-z input{ display:inline-block; color:#666; width:180px;height:24px; line-height:14px;}
.box-z{ /*border:1px solid #017cb1;*/ padding:6px;}
.box-z button{ display:inline-block; position:absolute;margin-left:-35px; margin-left:-20px!important; margin-top:2px;}
#gview_jqGrid .colmenuspan{ display:none;}
#input_jqGridPager input{ color:#333;}
